* {
  font-family: Arial;
}

input {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 16px;
  padding-right: 16px;
  font-size: 16px;
  margin-bottom: 12px;
  border-radius: 8px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(200, 200, 200);
}

.first {
  width: 148px;
}
.last {
  width: 148px;
}

.email {
  display: block;
  width: 335px;
}
.sign-up {
  width: 370px;
  padding-top: 14px;
  padding-bottom: 14px;
  border: none;
  font-size: 18px;
  cursor: pointer;
  background-color: rgb(47, 127, 231);
  color: white;
  border-radius: 8px;
  font-weight: bold;
}
